<div class="flex-column">
  <div id="my-carousel" class="carousel slide">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <app-day [name]="'MONDAY'"></app-day>
      </div>
      <div class="carousel-item">
        <app-day [name]="'TUESDAY'"></app-day>
      </div>
      <div class="carousel-item">
        <app-day [name]="'WENDSDAY'"></app-day>
      </div>
      <div class="carousel-item">
        <app-day [name]="'THURSDAY'"></app-day>
      </div>
      <div class="carousel-item">
        <app-day [name]="'FRIDAY'"></app-day>
      </div>
      <div class="carousel-item">
        <app-day [name]="'SATURDAY'"></app-day>
      </div>
      <div class="carousel-item">
        <app-day [name]="'SUNDAY'"></app-day>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#my-carousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#my-carousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
