.carousel-control-next {
  justify-content: flex-end !important;
  margin-right: 0.25rem !important;
}

.carousel-control-prev {
  justify-content: flex-start !important;
  margin-left: 0.25rem !important;
}

.app-day-height {
  height: calc(4rem + 1.5vw) !important;
}
