<div class="task-bg task-height w-100 rounded-4 mb-2">
  <div class="d-inline-flex task-height w-100">
    <div class="d-flex task-height justify-content-center align-items-center checkbox-size">
      <input type="checkbox" (change)="toggleCompleteTask()">
    </div>
    <div class="d-flex task-height justify-content-start align-items-center">
      <h4 class="text-truncate task-text-max-width me-2"
          [ngClass]="{'strike-through': isClassEnabled}">Nananana annanana ugabuga bugabgua zjedz pierugsjdif ndason dia</h4>
    </div>
  </div>
</div>
