.task-bg {
  background-color: #0C1954FF;
}

.task-height {
  height: calc(2.25rem + 2vw);
}

/* Checkbox with rounded corners */
input[type=checkbox] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: none;
  border: 2px solid #eb06ff;
  border-radius: 20px;
  width: 20px;
  height: 20px;
  cursor: pointer;
  position: relative;
  transition: all 0.3s ease-in-out;
}

/* Green border when checked */
input[type=checkbox]:checked {
  border-color: #2ecc71;
}

/* Cross out h6 text when checkbox is checked */
input[type=checkbox]:checked ~ h6 {
  text-decoration: line-through;
}

/* White tick icon when checkbox is checked */
input[type=checkbox]:checked::before {
  content: "";
  position: absolute;
  top: 52%;
  left: 50%;
  width: 14px;
  height: 7px;
  border: 3px solid #fff;
  border-top: none;
  border-right: none;
  transition: all 0.3s ease-in-out;
}

/* Rotate tick icon when checkbox is checked */
input[type=checkbox]:checked::before {
  transform: translate(-50%, -50%) rotate(-45deg);
}
